"*":
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
    ]
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 13
    invisibles: {}
    softTabs: false
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "b0ac1f79-cc99-c866-381d-4198cec0688b"
  "file-icons":
    tabPaneIcon: false
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  linter: {}
  "linter-eslint": {}
  "linter-stylelint":
    useStandard: true
  nuclide:
    "nuclide-home":
      showHome: false
    "nuclide-working-sets": {}
  "standard-formatter":
    style: "happiness"
  "sync-settings":
    _analyticsUserId: "ff4ec621-8937-4328-86dd-9465b5394a3a"
    _lastBackupHash: "3a5a310ddf1d7cf72f565d09361a235fa6d984d0"
    gistId: "43d6ef82d38c2336400ff96461ba4d3c"
    personalAccessToken: "5d5af5bf1f4a64e7139df0cab2609f7a0cf3a3b4"
  welcome:
    showOnStartup: false
