"*":
  core:
    disabledPackages: [
      "tree-view"
    ]
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "b0ac1f79-cc99-c866-381d-4198cec0688b"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  nuclide:
    "nuclide-home":
      showHome: false
  welcome:
    showOnStartup: false
